iaas/energy-modeller/src/wsdl/localhost_8080/EnergyModellerCalibrationTool/CalibrationLoadGenerator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://energymodellerloadinducer.ascetic.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://energymodellerloadinducer.ascetic.eu/" name="CalibrationLoadGenerator">
<types>
<xsd:schema>
<xsd:import namespace="http://energymodellerloadinducer.ascetic.eu/" schemaLocation="http://localhost:8080/EnergyModellerCalibrationTool/CalibrationLoadGenerator?xsd=1"/>
</xsd:schema>
</types>
<message name="finished">
<part name="parameters" element="tns:finished"/>
</message>
<message name="finishedResponse">
<part name="parameters" element="tns:finishedResponse"/>
</message>
<message name="currentlyWorking">
<part name="parameters" element="tns:currentlyWorking"/>
</message>
<message name="currentlyWorkingResponse">
<part name="parameters" element="tns:currentlyWorkingResponse"/>
</message>
<message name="induceLoad">
<part name="parameters" element="tns:induceLoad"/>
</message>
<message name="induceLoadResponse">
<part name="parameters" element="tns:induceLoadResponse"/>
</message>
<portType name="CalibrationLoadGenerator">
<operation name="finished">
<input wsam:Action="http://energymodellerloadinducer.ascetic.eu/CalibrationLoadGenerator/finishedRequest" message="tns:finished"/>
<output wsam:Action="http://energymodellerloadinducer.ascetic.eu/CalibrationLoadGenerator/finishedResponse" message="tns:finishedResponse"/>
</operation>
<operation name="currentlyWorking">
<input wsam:Action="http://energymodellerloadinducer.ascetic.eu/CalibrationLoadGenerator/currentlyWorkingRequest" message="tns:currentlyWorking"/>
<output wsam:Action="http://energymodellerloadinducer.ascetic.eu/CalibrationLoadGenerator/currentlyWorkingResponse" message="tns:currentlyWorkingResponse"/>
</operation>
<operation name="induceLoad">
<input wsam:Action="http://energymodellerloadinducer.ascetic.eu/CalibrationLoadGenerator/induceLoadRequest" message="tns:induceLoad"/>
<output wsam:Action="http://energymodellerloadinducer.ascetic.eu/CalibrationLoadGenerator/induceLoadResponse" message="tns:induceLoadResponse"/>
</operation>
</portType>
<binding name="CalibrationLoadGeneratorPortBinding" type="tns:CalibrationLoadGenerator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="finished">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="currentlyWorking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="induceLoad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalibrationLoadGenerator">
<port name="CalibrationLoadGeneratorPort" binding="tns:CalibrationLoadGeneratorPortBinding">
<soap:address location="http://localhost:8080/EnergyModellerCalibrationTool/CalibrationLoadGenerator"/>
</port>
</service>
</definitions>